ul>div {
  padding: 1rem;
  margin: 2% 1vw;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: stick;
  height: 40vh;

}

#menu-container {
  display: inherit;
}

nav {
  display: flex;
  gap: 1rem;
  /* add some space between buttons */
  margin-right: 1rem;

}

nav a {
  padding: 0.75rem 1rem;
}

body {
  margin: 0px;
}

.imageText {
  display: flex;
  align-items: left;
  justify-content: left;
}

.image {
  flex-basis: 12.5%;
}

.clubName {
  font-family: 'Days One', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 90%;
  margin: 0;
  text-decoration: none;
  text-decoration-color: none;

}

#clubLogo {
  transform: scale(65%);
}


a {
  text-decoration: none;
  text-decoration-color: none;
  color: #171717;
}

.tab {
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #171717;
  font-weight: 500;
}


.tab:hover {
  opacity: .85;
  color: #5CE1E6;
  font-weight: bold;
}

#icon {
  width: 25px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

#dropdown-toggle {
  display: none;
}

#dropdown-menu {
  position: absolute;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#dropdown-menu a {
  text-align: right;
}

@media screen and (max-width: 720px) {
  .clubName{
    font-size: 1.25rem;
  }
  
  #menu-container {
    flex-direction: row;
    margin-left: 0;
  }

  #menu-container nav {
    display: none;
  }

  #dropdown-toggle {
    display: block;
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
  }

  #dropdown-menu {
    display: inherit;
    top: 30vh;
    right: 0;
    margin: 5px 0;
    background-color: transparent;

  }

  #dropdown-menu a {
    text-decoration: none;
    color: black;
    text-align: center;
    background-color: var(--bg-color);
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
  }

  #dropdown-menu img,
  #dropdown-menu a {
    margin: 0 5px;
  }
}