ul>div {
    padding: 1rem;
    margin: 2% 1vw;
    border-radius: 10px;
  }
  
  header {
    /* background-color: #89b0e5; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: stick
  
  }
  
  nav {
    display: flex;
    gap: 1rem;
    /* add some space between buttons */
    margin-right: 1rem;
  
  }
  
  nav a {
    padding: 0.75rem 1rem;
  }
  
  body {
    margin: 0px;
  }
  
  .imageText {
    display: flex;
    align-items: left;
    justify-content: left;
  }
  
  .image {
    flex-basis: 12.5%;
  }
  
  .clubName {
    font-family: 'Days One', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 90%;
    margin: 0;
    text-decoration: none;
    text-decoration-color: none;
   
  }
  
  #clubLogo{
    transform: scale(65%);
  }
  
  
  a {
    text-decoration: none;
    text-decoration-color: none;
    color: #171717;
  
  }
  
  .tab {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #171717;
    font-weight: 500;
  }
  
  
  .tab:hover {
    opacity: .85;
    color: #5CE1E6;
    font-weight: bold;
  }
  
  #icon{
    width: 25px;
    height: auto;
    object-fit: contain;
    cursor: pointer;
  }