html,body{
    width: 100%;
    margin: 0;

}

footer {
    font-family: 'Sen', sans-serif;
    text-align: center;
    background-color: #001D1E;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
    text-decoration-color: none;
    color: #5CE1E6;
}

/* a:hover {
    color: #a61c3a
} */