html,body{
    width: 100%;
    margin: 0;

}

footer {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background-color: white;
    color: #171717;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    line-height: .5em ;
}

a {
    text-decoration: none;
    text-decoration-color: none;
    font-weight: 600;
    color: #171717;
}

a:hover {
    color: #89b0e5
}